body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #333;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #ffcc00;
}

section {
 font-size: 16px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 205vh; 
}

.center-text {
    text-align: left;
    max-width: 1200px; 
}

p {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    -webkit-column-count: 2;
    -moz-column-count: 2;  
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;   
    column-gap: 20px;
}

@media (max-width: 768px) {
    p {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

section ul {
    list-style-type: square;    
    margin-bottom: 20px;
    display: block;
    padding-left: 5%;
}

section ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 8px;
}


@media(max-width:760px){
    body {
        font-size: 16px;
        font-family: 'Arial', sans-serif;
    }

    .center-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 830px;
        max-width: 100%;
    }

    .center-text {
        text-align: left;
       
    }

    p {
        margin-bottom: 1.5em;
        line-height: 1.6;
    }

    nav {
        display: block;
    }

    nav a {
        border-bottom: 1px solid #ddd;
    }
}